<settings>
    <category label="Languages">
        <setting label="30033" type="enum" id="lang_me" lvalues="30010|30011" default="0" />
        <setting label="30032" type="enum" id="lang_ke" lvalues="30010|30012|30013" default="0" />
        <setting label="30034" type="enum" id="lang_ng" lvalues="30010|30012" default="0" />
        <setting label="30035" type="enum" id="lang_tz" lvalues="30010|30013" default="0" />
        <setting label="30036" type="enum" id="lang_ug" lvalues="30010|30013" default="0" />
    </category>
</settings>