<settings>
    <category label="Languages">
        <setting label="Middle East" type="enum" id="lang_me" values="English|Arabic" default="0" />
        <setting label="Kenya" type="enum" id="lang_ke" values="English|French|Swahili" default="0" />
        <setting label="Nigeria" type="enum" id="lang_ng" values="English|French" default="0" />
        <setting label="Tanzania" type="enum" id="lang_tz" values="English|Swahili" default="0" />
        <setting label="Uganda" type="enum" id="lang_ug" values="English|Swahili" default="0" />
    </category>
</settings>